@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img,
picture,
video,
svg {
  max-width: 100%;
  display: block;
}

.sr-only {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  visibility: hidden;
}

button {
  color: inherit;
  border: none;
  background: inherit;
  cursor: pointer;
}

.link {
  color: #fff;
  background-color: #4762ff;
  border-radius: 5px;
  padding: 13px 30px;
  transition: 0.3s;
}

.link-underline {
  color: #333333;
  font-weight: bold;
  background: linear-gradient(currentColor 0 0) 0 100%/var(--d, 0) 1px no-repeat;
  --d: 100%;
  padding-bottom: 3px;
}

.link:hover {
  background-color: #1a35cf;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

@media (width < 1000px) {
  .container {
    padding-inline: 20px;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 50px 70px;
  padding-inline: 20px;
  color: #333333;
}
header img {
  width: 135px;
}
header nav {
  display: flex;
}
header ul {
  display: flex;
  align-items: center;
  gap: 100px;
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  width: 32px;
  height: 40px;
  overflow: hidden;
  display: none;
}
.menu div {
  width: 100%;
  height: 3px;
  background-color: #333333;
  transition: 0.3s;
  border-radius: 5px;
}
.menu div:nth-child(2) {
  width: 70%;
}

.menu.active div:nth-child(1) {
  transform: translateY(10px) rotate(40deg);
}

.menu.active div:nth-child(2) {
  transform: translateX(-50px);
}

.menu.active div:nth-child(3) {
  transform: translateY(-6px) rotate(-40deg);
}

@media (width < 860px) {
  .menu {
    display: flex;
  }
  header nav {
    position: fixed;
    top: -150%;
    left: 50%;
    width: 80%;
    flex-direction: column;
    transform: translateX(-50%);
    z-index: 99;
    background-color: #fff;
    padding-block: 50px;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 3px 5px 15px rgba(220, 220, 220, 0.767);
    transition: 0.8s;
  }
  header nav.active {
    top: 15%;
    opacity: 1;
  }
  header ul {
    flex-direction: column;
    gap: 50px;
  }
}
.hero {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.hero h2 {
  font-size: clamp(40px, 7cqw, 60px);
  width: 75%;
  margin-bottom: 35px;
}
.hero p {
  font-size: clamp(16px, 4cqw, 18px);
  width: 80%;
  line-height: 32px;
  margin-bottom: 40px;
}
.hero .link-section {
  display: flex;
  align-items: center;
  gap: 50px;
}

@media (width < 1460px) {
  .hero {
    text-align: center;
    flex-direction: column;
    gap: 50px;
  }
  .hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero h2 {
    width: 100%;
  }
  .hero p {
    width: 85%;
  }
  .hero .link-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
.marquee {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-block: 100px;
  background-color: #f6f6f6;
  padding: 30px;
  border-radius: 15px;
}
.marquee .company {
  display: grid;
  place-content: center;
  width: 190px;
  height: 130px;
  padding: 35px;
  border-radius: 5px;
}
.marquee img {
  filter: invert(0%) sepia(96%) saturate(16%) hue-rotate(246deg) brightness(98%) contrast(105%);
}

@media (width < 470px) {
  .marquee {
    justify-content: center;
  }
}
.about {
  position: relative;
  padding: 80px 70px;
  border-radius: 15px;
  min-height: 420px;
  overflow: hidden;
  background: url("../../assets/about-img.png") 120% center/contain no-repeat rgb(246, 246, 246);
  margin-bottom: 150px;
}
.about h2 {
  font-size: clamp(35px, 4cqw, 48px);
  margin-bottom: 25px;
}
.about p {
  font-size: clamp(15px, 4cqw, 16px);
  color: rgba(128, 128, 128, 0.7960784314);
  width: 52%;
  line-height: 25px;
  margin-bottom: 40px;
}

@media (width < 1255px) {
  .about {
    padding: 80px 20px;
    text-align: center;
    background: #f6f6f6;
  }
  .about p {
    width: 100%;
    margin-bottom: 55px;
  }
}
.services {
  margin-bottom: 150px;
}
.services h2 {
  text-align: center;
  font-size: clamp(35px, 4cqw, 48px);
  margin-bottom: 70px;
}
.services .services-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 770px));
  gap: 60px;
}

.services-card {
  display: flex;
  background-color: #f6f6f6;
  gap: 30px;
  padding: 40px 30px;
  border-radius: 15px;
}
.services-card img {
  width: 270px;
  border-radius: 15px;
}

.services-content {
  position: relative;
  color: #333333;
}
.services-content h3 {
  font-size: clamp(18px, 4cqw, 23px);
  margin-bottom: 10px;
}
.services-content p {
  margin-bottom: 30px;
  color: rgba(128, 128, 128, 0.7960784314);
}
.services-content a {
  position: absolute;
  bottom: 0;
}

@media (width < 1580px) {
  .services-card {
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 25px;
  }
  .services-content h3 {
    margin-bottom: 20px;
  }
  .services-content p {
    margin-bottom: 40px;
  }
  .services-content a {
    position: inherit;
  }
}
.fleet .fleet-top {
  text-align: center;
}
.fleet .fleet-top h2 {
  font-size: clamp(35px, 4cqw, 48px);
  margin-bottom: 30px;
}
.fleet .fleet-top p {
  font-size: clamp(16px, 4cqw, 18px);
  color: rgba(128, 128, 128, 0.7960784314);
  margin-bottom: 90px;
}
.fleet .swiper-slide {
  width: 370px !important;
  height: 400px !important;
  cursor: grab;
}
.fleet .swiper-slide .fleet-car {
  position: relative;
  height: 235px;
  background-color: #f6f6f6;
  border-radius: 15px;
  margin-bottom: 30px;
  transition: 0.3s;
}
.fleet .swiper-slide .fleet-car img {
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fleet .swiper-slide:hover .fleet-car {
  background-color: rgba(71, 99, 255, 0.3568627451);
}
.fleet .swiper-slide h4 {
  font-size: clamp(15px, 4cqw, 16px);
  margin-bottom: 15px;
}
.fleet .swiper-slide .passengers {
  display: inline-block;
  background-color: #f6f6f6;
  padding: 7px 10px;
  border-radius: 5px;
  transition: 0.3s;
}
.fleet .swiper-slide .passengers span {
  margin-left: 5px;
}

@media (width < 650px) {
  .fleet .swiper-slide {
    width: 270px !important;
  }
}
.why-us {
  margin-block: 150px;
}
.why-us h3 {
  font-size: clamp(35px, 4cqw, 48px);
  color: #333333;
  text-align: center;
  margin-bottom: 100px;
}
.why-us .why-us-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 220px));
  gap: 50px;
  justify-content: space-around;
}
.why-us h4 {
  font-size: clamp(15px, 4cqw, 16px);
  margin-bottom: 12px;
}
.why-us p {
  font-size: 14px;
  color: rgba(128, 128, 128, 0.7960784314);
}
.why-us .why-us-card:nth-child(2n+1) .why-us-img {
  background-color: #4762ff;
}
.why-us .why-us-card:nth-child(2n+1) img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
}
.why-us .why-us-img {
  background-color: #f6f6f6;
  height: 210px;
  padding: 45px;
  border-radius: 15px;
  margin-bottom: 27px;
}
.why-us .why-us-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (width < 510px) {
  .why-us .why-us-card {
    text-align: center;
  }
}
footer {
  padding: 60px 0;
  margin-top: 150px;
  background-color: #333333;
  color: #fff;
}
footer .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 40px;
  gap: 50px;
}
footer img {
  background-color: #fff;
  width: 135px;
  height: 60px;
  padding: 15px;
  border-radius: 5px;
}
footer .links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer h4 {
  font-size: clamp(18px, 4cqw, 23px);
  margin-bottom: 20px;
}
footer p {
  font-size: clamp(15px, 4cqw, 16px);
}
footer .social-icons {
  display: flex;
  gap: 10px;
  color: #fff;
}
footer .social-icons a {
  display: grid;
  place-content: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #4762ff;
}
footer .copyright {
  text-align: center;
  margin-top: 150px;
}

/*# sourceMappingURL=index.css.map */
