// MAIN COLORS

$white: #fff;
$light-gray: #f6f6f6;
$purple: #4762ff;
$light-purple: #4763ff5b;
$dark-purple: #1a35cf;
$black: #333333;

// FONT
$fs-xl: clamp(40px, 7cqw, 60px);
$fs-lg: clamp(35px, 4cqw, 48px);
$fs-lg2: clamp(18px, 4cqw, 23px);
$fs-md: clamp(16px, 4cqw, 18px);
$fs-sm: clamp(14px, 4cqw, 16px);

// TRANSITION
$transition: 0.3s;
$transition-slow: 0.8s;

// BORDER RADIUS
$radius: 5px;
$radius-xl: 15px;
