@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img,
picture,
video,
svg {
  max-width: 100%;
  display: block;
}

.sr-only {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  visibility: hidden;
}

button {
  color: inherit;
  border: none;
  background: inherit;
  cursor: pointer;
}
